$spacing-small: 6px;
$spacing-medium: 12px;
$spacing-large: 24px;

$header-height: 60px;

$content-width: 800px;

$color-grey-light: lightgray;
$color-grey-medium: #AEAEAE;
$color-grey-dark: darkgray;
$color-grey-darker: #3c3c3c;
