$spacing-small: 6px;
$spacing-medium: 12px;
$spacing-large: 24px;

$header-height: 60px;
$header-height-scrolled: 30px;

$teaser-height: 30vw;
$teaser-height-mobile: 300px;

$content-width: 1200px;

$color-grey-light: lightgray;
$color-grey-medium: #AEAEAE;
$color-grey-dark: darkgray;
$color-grey-darker: #3c3c3c;

$breakpoints: (
        phone: '(max-width: 560px)',
        tablet: '(min-width: 561px) and (max-width: 1200px)',
        desktop: '(min-width: 12001px)'
);
