$spacing-small: 6px;
$spacing-medium: 12px;
$spacing-large: 24px;

$header-height: 60px;

$teaser-height: 50vw;
$teaser-height-min: 200px;
$teaser-height-max: 700px;

$content-width: 1200px;

$color-grey-light: lightgray;
$color-grey-medium: #AEAEAE;
$color-grey-dark: darkgray;
$color-grey-darker: #3c3c3c;
