@import "variables";
@import "mixins";
@import "functions";

@import "atoms/image";
@import "atoms/link";
@import "atoms/menuEntry";
@import "atoms/table";
@import "atoms/typografie";

@import "molekuls/teaser";

@import "organisms/contact";
@import "molekuls/content";
@import "organisms/header";

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}
