.content {
  margin: 0 auto;

  width: 100%;
  max-width: $content-width;

  section {
    padding-top: $header-height - 7px;
    margin-bottom: $spacing-large;
  }

  #basic {
    margin-top: -$header-height;
  }
}