.teaser__wrapper {
  height: $teaser-height;
  margin-bottom: $spacing-large;

  &:first-of-type {
    height: 50vw;
  }
}

.teaser {
  position: absolute !important;

  left: 0;
  right: 0;

  width: 100%;

  height: $teaser-height;

  &:first-of-type {
    height: 50vw;
  }

  img {
    padding: 0;
  }

  .react-parallax-content {
    height: 100%;
  }
}

.teaser__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: $color-grey-darker;
  font-size: 2em;

  p {
    padding: $spacing-small;
    background-color: whitesmoke;
  }
}
