.teaser__wrapper {
  height: $teaser-height;
  margin-bottom: $spacing-large;

  @include mq(phone) {
    height: $teaser-height-mobile;
  }
}

.teaser {
  position: absolute !important;

  left: 0;
  right: 0;

  width: 100%;
  height: $teaser-height;

  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  img {
    padding: 0;
  }

  .react-parallax-content {
    height: 100%;
  }

  @include mq(phone) {
    height: $teaser-height-mobile;
  }

}

.teaser__parallax {
  display: block;

  @include mq(phone) {
    display: none;
  }
}

.teaser__mobile {
  display: none;

  @include mq(phone) {
    display: block;
  }
}

.teaser__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: $color-grey-darker;
  font-size: 2em;

  p {
    padding: $spacing-small;

    background-color: whitesmoke;

    color: $color-grey-darker;
    font-weight: bold;

    opacity: .7;
  }
}
