* {
  color: $color-grey-dark;
  font-family: Montserrat, SansSerif, serif;
  line-height: 1.5em;
}

.text--right {
  text-align: right;
}

.heading {
  margin: $spacing-medium 0;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

.heading--large {
  font-size: 32px;
}

.heading--medium {
  margin: $spacing-large 0;
  border-bottom: 2px solid $color-grey-light;
  font-size: 24px;
}

.heading--small {
  font-size: 20px;
}

.paragraph {
  margin: $spacing-medium 0;
}
