header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 8000;

  padding: $spacing-medium 0;

  width: 100%;
  height: $header-height;

  background-color: $color-grey-darker;

  transition: all 200ms;

  &.scrolled {
    height: $header-height-scrolled;
    opacity: .8;
  }

  @include mq(phone) {
    font-size: .8em;
  }
}

nav {
  display: flex;

  padding: 0 $spacing-medium;

  width: 100%;
  max-width: $content-width;

  @include mq(phone) {
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
}
