img {
  padding: 12px;
  max-width: 100%;
  height: auto; }

.image--floating {
  float: right;
  max-width: 20%; }
  .image--floating::after {
    clear: both; }

a {
  color: darkgray;
  transition: color 200ms;
  text-decoration: none; }
  a:hover {
    color: lightgray; }

.menu-entry {
  margin: 0 6px; }

table {
  border: none;
  border-collapse: collapse; }

tr td {
  padding: 12px;
  vertical-align: top;
  border-bottom: 1px solid lightgray; }

* {
  color: darkgray;
  font-family: Montserrat, SansSerif, serif;
  line-height: 1.5em; }

.text--right {
  text-align: right; }

.heading {
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: bold; }

.heading--large {
  font-size: 32px; }

.heading--medium {
  margin-top: 24px;
  border-bottom: 2px solid lightgray;
  font-size: 24px; }

.heading--small {
  font-size: 20px; }

.paragraph {
  margin: 12px 0; }

.teaser__wrapper {
  height: 30vw;
  margin-bottom: 24px; }

.teaser {
  position: absolute !important;
  left: 0;
  right: 0;
  width: 100%;
  height: 30vw; }
  .teaser img {
    padding: 0; }
  .teaser .react-parallax-content {
    height: 100%; }

.teaser__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #3c3c3c;
  font-size: 2em; }
  .teaser__content p {
    padding: 6px;
    background-color: whitesmoke;
    color: #3c3c3c;
    font-weight: bold;
    opacity: .7; }

.contact {
  padding: 12px;
  width: 300px;
  float: right; }
  .contact img {
    padding: 0; }
  .contact .social-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 51px; }
    .contact .social-list a span {
      transition: all 200ms; }
    .contact .social-list a:hover .fa-facebook {
      color: #3b5998; }
    .contact .social-list a:hover .fa-twitter {
      color: #1da1f2; }
    .contact .social-list a:hover span {
      color: black; }
  @media (max-width: 560px) {
    .contact {
      padding: 0;
      width: 100%;
      float: none; } }

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .content section {
    padding-top: 53px;
    margin-bottom: 24px; }
  .content #basic {
    margin-top: -60px; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;
  padding: 12px 0;
  width: 100%;
  height: 60px;
  background-color: #3c3c3c;
  transition: all 200ms; }
  header.scrolled {
    height: 30px;
    opacity: .8; }
  @media (max-width: 560px) {
    header {
      height: 30px;
      font-size: .8em; } }

nav {
  display: flex;
  width: 100%;
  max-width: 1200px; }
  @media (max-width: 560px) {
    nav {
      justify-content: center; } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.application {
  margin-top: 60px; }
  @media (min-width: 561px) and (max-width: 1200px) {
    .application {
      padding: 12px; } }
  @media (max-width: 560px) {
    .application {
      padding: 12px; } }
