img {
  max-width: 100%;
  height: auto; }

a {
  color: darkgray;
  transition: color 200ms;
  text-decoration: none; }
  a:hover {
    color: lightgray; }

.menu-entry {
  margin: 0 6px; }

table {
  border: none;
  border-collapse: collapse; }

td {
  padding: 12px;
  vertical-align: top;
  border-bottom: 1px solid lightgray; }

* {
  color: #AEAEAE;
  font-family: Lato, SansSerif, serif; }

.text--right {
  text-align: right; }

.teaser__wrapper {
  height: 500px;
  margin: 24px 0; }

.teaser {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  background-attachment: fixed; }

.teaser__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #3c3c3c;
  font-size: 2em; }

.application {
  margin-top: 120px; }

.content {
  margin: 0 auto 2400px;
  padding: 0 12px;
  width: 100%;
  max-width: 800px; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 8000;
  padding: 12px 0;
  width: 100%;
  height: 60px;
  background-color: #3c3c3c; }

nav {
  display: flex;
  width: 100%;
  max-width: 800px; }

.two-column {
  display: flex; }
  .two-column > div {
    width: 50%; }

html,
body {
  margin: 0;
  padding: 0; }
