figure {
  text-align: center; }

img {
  padding: 12px;
  max-width: 100%;
  height: auto; }

.image--floating {
  float: right;
  max-width: 20%; }
  .image--floating::after {
    clear: both; }

a {
  color: darkgray;
  transition: color 200ms;
  text-decoration: underline; }
  a:hover {
    color: #ededed; }

.menu-entry {
  margin: 0 6px; }

table {
  margin-bottom: 42px;
  border: none;
  border-collapse: collapse; }

tr td {
  padding: 12px;
  vertical-align: top;
  border-bottom: 1px solid #ededed; }

* {
  color: darkgray;
  font-family: Montserrat, SansSerif, serif;
  line-height: 1.5em; }

.text--right {
  text-align: right; }

.heading {
  margin: 12px 0;
  font-weight: bold; }
  .heading a {
    text-decoration: none; }

.heading--large {
  font-size: 32px; }

.heading--medium {
  margin: 24px 0;
  border-bottom: 2px solid #ededed;
  font-size: 24px; }

.heading--small {
  font-size: 20px; }

.paragraph {
  margin: 12px 0; }

.teaser__wrapper {
  height: 30vw;
  margin-bottom: 24px; }
  @media (max-width: 560px) {
    .teaser__wrapper {
      height: 300px; } }

.teaser {
  position: absolute !important;
  left: 0;
  right: 0;
  width: 100%;
  height: 30vw;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .teaser img {
    padding: 0; }
  .teaser .react-parallax-content {
    height: 100%; }
  @media (max-width: 560px) {
    .teaser {
      height: 300px; } }

.teaser__parallax {
  display: block; }
  @media (max-width: 560px) {
    .teaser__parallax {
      display: none; } }

.teaser__mobile {
  display: none; }
  @media (max-width: 560px) {
    .teaser__mobile {
      display: block; } }

.teaser__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #3c3c3c;
  font-size: 2em; }
  .teaser__content p {
    padding: 6px;
    background-color: whitesmoke;
    color: #3c3c3c;
    font-weight: bold;
    opacity: .7; }

.contact {
  padding: 12px;
  width: 300px;
  float: right; }
  .contact img {
    padding: 0; }
  .contact .social-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 51px; }
    .contact .social-list a span {
      transition: all 200ms; }
    .contact .social-list a:hover .fa-facebook {
      color: #3b5998; }
    .contact .social-list a:hover .fa-twitter {
      color: #1da1f2; }
    .contact .social-list a:hover span {
      color: black; }
  @media (max-width: 560px) {
    .contact {
      display: flex;
      flex-direction: column;
      float: none;
      padding: 0;
      width: 100%; } }

.skill__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.skill {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 2;
  flex-grow: 2;
  margin: 20px;
  height: 90px;
  background-color: #f5f5f5;
  transition: all 200ms;
  border-radius: 8px; }
  .skill:hover {
    background-color: gainsboro;
    transform: scale(1.1); }
    .skill:hover .skill__name {
      color: #AEAEAE; }
    .skill:hover .skill__rating span {
      color: #5075a6; }
  .skill.hasContent {
    cursor: pointer; }

.skill__name {
  margin-top: 12px;
  text-align: center;
  font-size: 1.3em; }

.skill__description {
  display: none; }

.skill__rating {
  margin-top: 6px;
  font-size: 1.5rem;
  text-align: center; }
  .skill__rating span {
    color: #92AACA;
    transition: color 200ms; }

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }
  .content section {
    padding-top: 53px;
    margin-bottom: 24px; }
  .content #basic {
    margin-top: -60px; }

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 24px 0 0 0;
  background-color: #3c3c3c;
  color: white; }

.footer__wrapper {
  padding: 24px;
  width: 100%;
  max-width: 1200px; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;
  padding: 12px 0;
  width: 100%;
  height: 60px;
  background-color: #3c3c3c;
  transition: all 200ms; }
  header.scrolled {
    height: 30px;
    opacity: .8; }
  @media (max-width: 560px) {
    header {
      font-size: .8em; } }

nav {
  display: flex;
  padding: 0 12px;
  width: 100%;
  max-width: 1200px; }
  @media (max-width: 560px) {
    nav {
      justify-content: center; } }
  nav a {
    text-decoration: none; }

.legal {
  margin-top: 120px; }

.two-column {
  display: flex; }
  @media (max-width: 560px) {
    .two-column {
      flex-direction: column; } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.application {
  margin-top: 60px; }
  @media (min-width: 561px) and (max-width: 1200px) {
    .application {
      padding: 12px; } }
  @media (max-width: 560px) {
    .application {
      padding: 12px; } }
